$main-color:#fd9858;
$secondary-color:#fec09a;
$tertiary-color:#fec09a;
$background-color:#FAFAFA;
$sinopsis-background: #fec09a42;
$font-color:#000000;
$hover-color:#F7F7FA;
$secondary-hover-color:#9b8b8b;
$icon-color: #ffffff;